@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>

<p>Funko (NASDAQ: FNKO) es una marca líder en estilo de vida de la cultura pop. Brindamos conexión con la cultura pop con una línea de productos que incluye figuras de vinilo, juguetes de acción, felpa, indumentaria, juegos de mesa, artículos para el hogar, NFT y accesorios. Como el propietario de licencias más grande del mundo, los entusiastas del entretenimiento muestran su fanatismo a través de la lente de los productos Funko.

¡La compañía impulsa Loungefly, Funko Games y Digital Pop! marcas, mientras que también ofrece una gran selección de productos de consumo de la cultura pop a través de Funko.com, Loungefly.com, FunkoEurope.com y dos tiendas minoristas en Everett, Washington y Hollywood, California. </p>
